<a href="/outpatientclinics">Outpatient Clinics Index</a> <a href="/providers" align="right">Providers Index</a>
<p><%= link_to "New Outpatient Clinic", "/outpatientclinics/new" %></p>
<h1>Outpatient Clinics</h1>
<% @outpatientclinics.each do |clinic| %>
<p><%= clinic.name %> I got made: <%= clinic.created_at %></p>
<% end %>
